<div class="border {{ color }} rounded-md mb-4 relative" {{ attributes }}>
    <div class="px-5 pt-4 pb-3 grid grid-cols-2">
        <div>
            <h2 class="font-bold">{{ name }}</h2>
            <h3>{{ professor }}</h3>
        </div>
        {% if is_card == true %}
            <div class="flex flex-col items-end">
                <h2 class="font-bold">{{ average }}</h2>
                <h3>sur 20</h3>
            </div>
        {% endif %}
    </div>
    {% if is_card == true %}
        <div class="w-full bg-white grid grid-cols-2 bottom-0">
            <button class="btn-info" onclick="window.location.href = '{{ path('app.course.show', { id: id }) }}';">
                Voir les notes
            </button>
            <button class="btn-danger" onclick="window.location.href = '{{ path('app.course.delete', { id: id }) }}';">
                Supprimer ce cours
            </button>
        </div>
    {% endif %}
</div>
