<div {{ attributes }}>
    {{ form_start(form, { attr: {
        'data-action': 'live#action',
        'data-action-name': 'prevent|add',
        'novalidate': 'novalidate'
    } }) }}
        <div class="gap-4 mb-4 h-[64px]">
            <div class="flex gap-4">
                {{ form_widget(form.note, { row_class: "flex-grow" }) }}
                <button class="btn">Ajouter</button>
            </div>
            {{ form_errors(form.note, { error_item_class: "text-red-500 my-2" }) }}

        </div>
    {{ form_end(form) }}
    <table class="w-full rounded-md table-fixed">
        <thead>
            <tr class="[&>*]:border [&>*]:dark:border-neutral-800 [&>*]:px-4 [&>*]:py-2">
                <th>Note</th>
                <th>Date d'ajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in this.getNotes %}
                <tr class="[&>*]:border [&>*]:dark:border-neutral-800">
                    <td class="px-4 py-2">{{ note.note }}</td>
                    <td class="px-4 py-2">{{ note.createdAt|ago }}</td>
                    <td class="px-0 py-0 bg-red-500 disabled:bg-neutral-500 hover:disabled:bg-neutral-500  hover:bg-red-600 text-white text-center cursor-pointer">
                        <button
                            data-action="live#action"
                            onclick="this.innerText = 'Suppression...'"
                            data-action-name="remove(id={{ note.id }})"
                            class="w-full h-full">
                            Supprimer
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr class="[&>*]:border [&>*]:dark:border-neutral-800">
                    <td colspan="3" class="px-4 py-2 text-center">
                        Pas de notes ajoutées dans ce cours
                    </td>
                </tr>
            {% endfor %}
            {% if this.getNotes is not empty %}
                <tr class="[&>*]:border [&>*]:dark:border-neutral-800 [&>*]:px-4 [&>*]:py-2 font-bold">
                    <td>{{ this.getAverage }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
